@import './tailwind.css';

:root {
  --background: oklch(63.973% 0.17512 248.69 / 10%);
  --foreground: var(--color-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto);
  --font-mono: var(--font-code);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto);
}
